.cuaca {
  display: flex;
}

.detailsWrapper {
  margin-top: 50px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cuacaWrapper {
  display: flex;
  flex-direction: column;
}

.cuaca img {
  width: 142px;
  height: 123px;
}

img:not(.cerahBerawan) {
  width: 95px;
  height: 95px;
}

.cuacaWrapper,
.humidity,
.wind {
  margin-right: 100px;
}
